.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.timeline{
  /* padding-left: 2px; */
  list-style: none;
  border-left: 2px solid black;
}
ul.timeline > li > span.timeline-node{
  /* bord */
  /* width: 3.1em;
  height: auto; */
  background-color: #ccc;
  position: absolute;
  left: 0;
  padding: 5px;
}
ul.timeline > li{
  /* padding-left: 1em */

}